#ventas-container {
    margin-top: 150px;
}

#ventas-buscar-container, #ventas-crear-container{
    margin-top: 50px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
    float: left;
    margin-bottom: 20px;
}

.search-label {
    float:right;
    padding-bottom: 10px;
}

.sr-only {
    font-size: 0;
}

#ventas-crear-container .form-label {
    float: left;
    margin-bottom: 10px;
}