/* #navbar {
    width: 100%;
} */

#menu-usuario {
    /* float: right; */
    position: absolute;
    right: 0px;
    padding: 20%;
}

#dropdown-header .row:nth-child(1) {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#dropdown-header .row:nth-child(2) {
    font-size: 18px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
#textoCentrado{
    width: 100%;
    text-align: center;
}